* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
  }

html body{
  height: 100vh;
}

body{
  background-image: url('imgTS/cielo.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1{
    display: inline;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: 'IM Fell French Canon SC', serif;
}

header{
  background-color: rgb(56, 148, 201);
  color: rgb(255, 255, 255);
}

.ficha {
    width: 120px;
    height: 120px;
    background: white;
    margin: 1px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }

.ficha:active {
  border: 1px solid gold;
  transform: scale(1.1);
}
  
.ficha img {
    width: 100%;
    height: 100%;
}

.ficha-oculta{
  background-color: rgb(176 120 48);
  background-image: url('imgTS/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.acertado{
  pointer-events: none;
  cursor: not-allowed;
}
  
#tablero {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
}

#tiempo {
  display: none;
  width: 150px;
  height: 43px;
  background-color: lightgray;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2px auto;
  font-size: x-large;
  border: 2px solid black;
}

#start {
  width: 150px;
  background-color: rgb(33 113 239);
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

#start:hover {
  transform: scale(1.1);
}

#start:active {
  background-color: rgb(126, 88, 7);
}

#stop {
  width: 150px;
  background-color: rgb(126, 88, 7);
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

#stop:hover {
  transform: scale(1.1);
}

#stop:active {
  background-color: rgb(33 113 239);
}

#restart {
  width: 150px;
  background-color: rgb(48 174 81);
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  margin: 2px auto;
  display: none;
}

#restart:hover {
  transform: scale(1.1);
}

#restart:active {
  background-color: rgb(223, 219, 32);
}

footer{
    background-image: url('imgTS/madera.png');
    text-align: center;
    color: black;
    padding: 10px;
}

a img{
    width: 30px;
    height: 30px;
}

a img:hover {
  transform: scale(1.1);
}

.icon{
    position: fixed;
    top: 5px;
    right: 10px;
}

.icon img{
  width: 50px;
  height: 50px;
}

@media (max-width: 800px) {
  header{
    width: 100%;
  }
  h1{
    font-size: x-large;
  }
  main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
  }
  #tablero{
    width: 95%;
    gap: 0px;
    padding: 0px;

  }
  .ficha{
    width: auto;
    height: auto;
    margin: 0px;
  }

#tiempo, #start, #stop, #restart {
  width: 86px;
  height: 25px;
  font-size: medium;
  padding: 0px;
}
#tiempo{
  height: auto;
}
#footer{
  padding: 0px;
}

}